* {
  margin: 0;
  padding: 0;
}
.navi {
  background-color: rgb(26, 24, 122);
}

#lg {
  padding-left: 100px;
}

.btn {
  background-color: rgb(26, 24, 122);
}

#banner-area {
  background-image: url("./resources/banner-background.png");
}

#banner-text {
  padding-top: 300px;
  padding-left: 400px;
}

.right {
  background-color: rgb(237, 237, 237);
}

#ipad-image {
  padding-left: 50px;
}

#max {
  padding-left: 50px;
}

.max1 {
  background-color: rgb(173, 194, 215);
}

.cards {
  background-color: rgb(250, 250, 250);
}

.card {
  background-color: rgb(246, 246, 246);
}

.purple {
  background-color: rgb(149, 138, 212);
}

.ipad-front {
  padding-left: 0px;
}

.purple.text {
  margin: 100px;
}

.dk {
  height: 400px;
  background-color: rgb(14, 7, 27);
}

.foot-text {
  font-size: 20px;
}
